.form-vehicle{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.form-vehicle input {
    width: 75%;
}
.form-vehicle select {
    width: 75%;
}
.form-vehicle textarea{
    height: 115px;
    width: 75%;
}
.fuel-container, .mileage-container,.hp-container,.desc-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}